body {
    font-family: 'Arial', sans-serif;
    background:linear-gradient(135deg,#073591,#af5d05);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
marquee{
    height: 30px;
}

.container {
    background-color: lightgrey ;
    width: 100%;
    max-width: 530px;
    margin-top: 0px;
    padding: 40px 105px 60px;
    border-radius: 15px;
    box-shadow: #f13030;
    text-align: center;
   
}
.container h1{
    display: flex;
    align-items: left;
    margin-bottom: 15px;
    margin-top: 35px;
    height: 30px;
    padding-top: 0px;
    padding-left: 10px;
}
.container h1 img{
    width: 40px;
    height: 37px;
    margin-left: 9px;
    margin-bottom: 15px;
    
}
.add-task {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    box-shadow: #0f0101;
    padding-left: 20px;
    margin-bottom: 15px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(240, 226, 199);
    padding-left: 20px;
    margin: 15px 0;
    border-radius: 30px;
    font-weight: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    border: none;
    outline: none;
    padding: 14px 30px;
    background:  #0b0202;
    color: #edeef0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30%;
}
button:hover{
    background-color: #f13030;
    border-radius: 90%;
}
.task button {
    background-color: #0f0101;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.task button:hover {
    background-color:  #f13030;
}
