body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.titlehead{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.icons{
    height: 60px;
    width: 60px;

}
.container{
    display:block;
    margin-left: 550px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 560px;
}
.move{
    background-color: transparent;
    border: 4px solid rgb(34, 34, 125);
    border-radius: 60%;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.move:hover{
    background-color: rgb(48, 48, 211);
    color: white;
    animation: pop 0.6s ease;}
@keyframes pop{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.moves{
    text-align: center;
}
.match-result{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #4caf50;
    animation: shake 3.6s ease-in-out;
}
.js-score{
   margin-top: 50px;
    text-align: center;
}
.reset-score-btn{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 38%;

}
.reset-score-btn:hover{
    background-color: #455dcb;
    color: white;
    animation: shake 0.6s ease;
}
    
.container-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@keyframes shake{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
